.news{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #0F2A47;
    height: 300px;
}
.searchbox{
    margin-bottom:5.5px;
}
.inputgroup5{
    height: 40px;
    width: 300px;
}
::placeholder{
    font-size: 0.6rem;
}